.loadMoreButton {
  display: block;
  margin: 20px auto;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.loadMoreButton:hover {
  background-color: #0056b3;
}
